@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: rgba(179, 179, 179, 0.089);
}

.navbar {
    background-color: white;
  }
  
  .navbar-light .nav-item .nav-link {
    color: #6e50b3;
    margin-right: 20px;
  }
  
  .navbar-light .navbar-toggler {
    border-color: #6e50b3;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-brand > img{
      max-width: 25%;
      margin-left: 30px;
  }
  .navbar-brand1 >img{
      margin: auto;
      max-width: 25%;
  }
