@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: rgba(179, 179, 179, 0.089);
}

.navbar {
    background-color: white;
  }
  
  .navbar-light .nav-item .nav-link {
    color: #6e50b3;
    margin-right: 20px;
  }
  
  .navbar-light .navbar-toggler {
    border-color: #6e50b3;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-brand > img{
      max-width: 25%;
      margin-left: 30px;
  }
  .navbar-brand1 >img{
      margin: auto;
      max-width: 25%;
  }


#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}


#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-image {
    height: 100px !important;
}

#bg-contacto{
    position: relative;
    top: 0px;
}

#seccion-contacto{
    background-color: #2C7744;
    min-height: 0px;
    position: relative;
}

#contenedor-formulario{
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 0px;
    max-width: 0px;
}

#titulo-formulario{
    color: #3f3f3f;
}


footer{
    background: #1b2a4e;
    min-height: 50px;
}

footer p{
    color: #fbfafa;
    text-align: center;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: #fbfafa;
}



@media(max-width: 768px){
    #intro, #equipo{
        width: 90% !important;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
}


@media(max-width: 576px){
    .icono-wrap{
 
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

